<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <style>
        .class {
            font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
        }
    </style>
</head>
<body class="class" style="background-color:#f3f3f3;">
{% block body %}
    <div style="color:#6E6E6E;padding:20px;margin-left: 8%;margin-right: 8%;">
        <p style="margin-left: 3%;font-size: 20px">Bonjour,</p>
        <p style="margin-left: 3%;margin-right: 3%;text-align: justify; font-size: 20px">
            Suite aux avenants du client {{ bdc.resumeLead.customer.raisonSocial }}, le devis numéro {{ bdc.numBdc }} pour la société {{ bdc.resumeLead.customer.raisonSocial }} a été modifié.<br/>
            Merci de passer à la validation en cliquant ici: <a href="https://madacontact.com/crm_actuel/">https://madacontact.com/crm_actuel</a>.
        </p>
        <p style="margin-left: 5%;font-size: 20px">Cordialement,</p>
    </div>
{% endblock %}
</body>
</html>
